
 .calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.calculator-display::-webkit-scrollbar,
.calculator-result::-webkit-scrollbar {
  display: none;
}

.calculator-display {
  font-size: 2em;
  width: 100%;
  max-width: 350px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: right;
  overflow-x: auto;  /* Enable horizontal scrolling */
  white-space: nowrap;  /* Prevents wrapping */
  word-break: keep-all;


}

.calculator-result {
  font-size: 30px;
  color: #333;
  overflow-x: auto;  /* Enable scrolling for long results */
  white-space: nowrap; /* Ensures text stays in one line */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.calculator-history {
  font-size: 18px;
  color: #333;
  overflow-x: auto;  /* Allows scrolling for long inputs */
  white-space: nowrap;  /* Prevents text wrapping */
  -ms-overflow-style: none;  /* Hides scrollbar in IE and Edge */
  scrollbar-width: none;  /* Hides scrollbar in Firefox */
}

.calculator-history::-webkit-scrollbar {
  display: none;  /* Hides scrollbar in Chrome, Safari */
}

.calculator-box {
  height: 600px;
  width: 400px;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border: 5px solid rgb(181, 181, 181);
  justify-content: center;
  align-items: center;
}



.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-gap: 10px;
}

.calculator-btn {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.calculator-btn:hover {
  background-color: #f0f0f0;
}

.calculator-btn:active {
  background-color: #d0d0d0;
}

.calculator-btn:nth-child(4n) {
  background-color: #ffab00;
  color: white;
}

.calculator-btn:nth-child(4n):hover {
  background-color: #ff9100;
}

.calculator-btn:nth-child(4n):active {
  background-color: #ff6f00;
}

